@page
@model SodaMachineRazorUI.Pages.GenerateAdminModel
@{
    ViewData["Title"] = "GenerateAdmin";
}

<h1>Generate Admin</h1>
<br />

<h3>Role created: @Model.RoleCreated</h3>
<h3>Admin id: @Model.AdminId</h3>